body {
  background: url("../assets/img/bg.jpg") center/cover fixed no-repeat;
  color: white;
  font-family: Arial, sans-serif;
}

section {
  min-height: 100vh;
  padding: 120px 15px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 420px; /* INI YANG BIKIN TIDAK TERLALU LEBAR */
}

.card {
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.token {
  width: 130px;
  margin: 15px auto;
  display: block;
}

.circle {
  border-radius: 50%;
}
