body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050b08;
  color: #eafff3;
  padding-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #0b1c14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.nav-left a {
  color: #dfffee;
  text-decoration: none;
  margin-right: 15px;
}

.nav-left a:hover {
  color: #00ff9c;
}

.connectBtn {
  background: #00ff9c;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background: #0f241b;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
